# IDE related files
.ipynb_checkpoints
.vscode

# Data
data/input
data/output

# Config files such as model checkpoints
humanaction/__pycache__
humanaction/mm_checkpoint
*.pth

# Saved Models
models_saved

# Virtual environment
idemia_venv

# Runs for TensorBoard
runs